body {
    padding-top: 80px;
}

#address {
    word-break: break-all;
}

hr {
    width: 60%;
}

h3 {
    text-decoration: underline #f0f0f0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imported-text {
    white-space: pre-wrap;
    width: 100%;
}

.badge-light {
    width: 100%;
}

.text {
    text-justify: auto;
    text-align: center;
}

h1 i.fas,
h1 i.fa-brands,
h3 i.fas {
    margin-right: 12px;
}
button i.fas {
    margin-right: 5px;
}

a {
    word-wrap: anywhere;
}

input[type='number'] {
    margin: 7px;
    padding: 2px;
    width: 90px;
}

@media (prefers-color-scheme: dark) {

    body {
        color: #e0e0e0;
        background: #212121;
    }

    pre {
        color:  white;
    }

    .card-header {
        background: #bdbdbd;
    }

    .badge-light {
        background: #bdbdbd;
    }

    .card-body {
        color: #e0e0e0;
        background: #212121;
    }

    hr {
        background-color: #e0e0e0;
    }

    img {
        filter: brightness(.80) contrast(1.2);
    }

    .navbar.navbar-expand-md.navbar-light.bg-light.fixed-top {
        background-color: #616161 !important;
    }

    .nav-link,
    .navbar-brand {
        color: #e0e0e0 !important;
    }

    #xmr-banner-container {
        background: url('../images/pinode-xmr-banner-dark@2x.png') no-repeat top left;
        background-size: 100%;
    }

    #xmr-banner {
        opacity: 0;
    }
}
