[Unit]
Description=Block-explorer
After=network.target

[Service]
ExecStart=/bin/bash block-explorer-start.sh
WorkingDirectory=/home/pinodexmr/
StandardOutput=inherit
StandardError=inherit
Type=forking
PIDFile=/home/pinodexmr/monero/explorer.pid
Restart=always
RestartSec=30
User=pinodexmr

[Install]
WantedBy=multi-user.target
