[Unit]
Description=Block-explorer
After=network.target

[Service]
ExecStart=/bin/bash block-explorer-start.sh
WorkingDirectory=/home/pinodexmr/
StandardOutput=inherit
StandardError=inherit
Type=forking
PIDFile=/home/pinodexmr/onion-monero-blockchain-explorer/explorer.pid
Restart=on-failure
RestartSec=300
User=pinodexmr

[Install]
WantedBy=multi-user.target
