[Unit]
Description=Block-explorer
After=network.target

[Service]
ExecStart=/bin/bash blockExplorer.sh
WorkingDirectory=/home/nanode/execScripts/
StandardOutput=file:/home/nanode/onion-monero-blockchain-explorer/explorer.log
StandardError=file:/home/nanode/onion-monero-blockchain-explorer/explorer.log
Type=exec
PIDFile=/home/nanode/onion-monero-blockchain-explorer/explorer.pid
Restart=on-failure
RestartSec=300
User=nanode

[Install]
WantedBy=multi-user.target
