[Unit]
Description=2GB system swap file enable
After=network.target

[Service]
ExecStart=/bin/bash enable-swap.sh
WorkingDirectory=/home/nanode/
StandardOutput=inherit
StandardError=inherit
Type=oneshot
RemainAfterExit=true
Restart=no
User=nanode

[Install]
WantedBy=multi-user.target
