[Unit]
Description=Block Explorer
After=network.target

[Service]
ExecStart=/bin/bash explorer-start.sh
WorkingDirectory=/home/pinodexmr/
StandardOutput=inherit
StandardError=inherit
Type=simple
PIDFile=/home/pinodexmr/onion-monero-blockchain-explorer/explorer.pid
Restart=on-failure
RestartSec=10
User=pinodexmr
TimeoutSec=300

[Install]
WantedBy=multi-user.target
