[Unit]
Description=Log-io-server
After=network.target

[Service]
User=pinodexmr
Group=pinodexmr
ExecStart=/usr/bin/log.io-server
Restart=always

[Install]
WantedBy=multi-user.target
