[Unit]
Description=Log-io-file
After=network.target

[Service]
User=pinodexmr
Group=pinodexmr
ExecStart=/usr/bin/log.io-file-input
Restart=always

[Install]
WantedBy=multi-user.target
