[Unit]
Description=Log-io-file
After=network.target

[Service]
User=nanode
Group=nanode
ExecStart=/usr/local/bin/log.io-file-input
Restart=always

[Install]
WantedBy=multi-user.target
