[Unit]
Description=Monero Tor Public
After=network.target

[Service]
User=nanode
Group=nanode
WorkingDirectory=~
RuntimeDirectory=monero
SuccessExitStatus=143
Type=simple
PIDFile=/home/nanode/monero/build/release/bin/monerod.pid
ExecStart=/bin/bash /home/nanode/execScripts/moneroTorPublic.sh
RestartSec=30
Restart=on-failure

[Install]
WantedBy=multi-user.target