[Unit]
Description=Monero I2P Bridging Node
After=network.target

[Service]
ExecStart=/bin/bash moneroI2PPrivate.sh
WorkingDirectory=/home/nodo/execScripts/
Type=simple
Restart=always
RestartSec=30
User=nodo
StandardOutput=null
StandardError=null
PIDFile=/home/nodo/monero/build/release/bin/monerod.pid

[Install]
WantedBy=multi-user.target

