[Unit]
Description=Monero Public Node
After=network.target

[Service]
ExecStart=/bin/bash moneroPublicRPCPay.sh
WorkingDirectory=/home/nanode/execScripts/
Type=forking
Restart=always
RestartSec=30
User=nanode
StandardOutput=inherit
StandardError=inherit
PIDFile=/home/nanode/monero/build/release/bin/monerod.pid

[Install]
WantedBy=multi-user.target

