[Unit]
Description=nodeStatusGeneration
After=network.target

[Service]
ExecStart=/bin/bash moneroStatus.sh
WorkingDirectory=/home/nanode/
PIDFile=/tmp/statusGeneration.pid
Type=simple
Restart=always
RestartSec=30
User=nanode

[Install]
WantedBy=multi-user.target
