[Unit]
Description=Monero Node
After=network.target

[Service]
ExecStart=/bin/bash monerod-reboot.sh
WorkingDirectory=/home/pinodexmr/
StandardOutput=inherit
StandardError=inherit
Type=oneshot
RemainAfterExit=true
Restart=no
User=pinodexmr

[Install]
WantedBy=multi-user.target
