[Unit]
Description=Monero Mining Node
After=network.target

[Service]
ExecStart=/bin/bash monerod-start-mining.sh
WorkingDirectory=/home/pinodexmr/
Type=forking
Restart=always
RestartSec=30
User=pinodexmr
StandardOutput=inherit
StandardError=inherit
PIDFile=/home/pinodexmr/monero/build/release/bin/monerod.pid

[Install]
WantedBy=multi-user.target

