[Unit]
Description=Monero I2P Bridging Node
After=network.target

[Service]
ExecStart=/bin/bash monerod-start-i2p.sh
WorkingDirectory=/home/pinodexmr/
Type=simple
Restart=always
RestartSec=30
User=pinodexmr
StandardOutput=null
StandardError=null
PIDFile=/home/pinodexmr/monero/build/release/bin/monerod.pid

[Install]
WantedBy=multi-user.target

