[Unit]
Description=Monero Mining Node
After=network.target

[Service]
ExecStart=/bin/bash monerod-start-mining.sh
WorkingDirectory=/home/pinodexmr/
Type=simple
Restart=always
RestartSec=30
User=pinodexmr
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target

