[Unit]
Description=P2Pool
After=network.target

[Service]
ExecStart=/bin/bash p2pool.sh
WorkingDirectory=/home/nanode/execScripts/
Type=simple
Restart=always
RestartSec=30
User=nanode
StandardOutput=file:/home/nanode/p2pool/build/p2pool.log
StandardError=file:/home/nanode/p2pool/build/p2pool.log
PIDFile=/home/nanode/p2pool/p2pool.pid

[Install]
WantedBy=multi-user.target
