[Unit]
Description=Nodo Reboot
After=network.target

[Service]
ExecStart=/bin/bash reboot.sh
WorkingDirectory=/home/nodo/execScripts/
StandardOutput=inherit
StandardError=inherit
Type=oneshot
RemainAfterExit=true
Restart=no
User=nodo

[Install]
WantedBy=multi-user.target
